<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="gotoSettings()">
        <ion-icon name="chevron-back-circle-outline" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Updated Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="updatePassForm" (ngSubmit)="updatePassword()">
    <ion-card>
      <ion-card-content>

        <!-- Outlet -->
        <ion-item>
          <ion-label position="floating">Old Password</ion-label>
          <ion-input
            formControlName="oldPass"
            required>
          </ion-input>
            <ion-input-password-toggle slot="end"></ion-input-password-toggle>
        </ion-item>

        <!-- Name Field -->
        <ion-item>
          <ion-label position="floating">New Password</ion-label>
          <ion-input
            formControlName="newPass"
            required>
            <ion-input-password-toggle slot="end"></ion-input-password-toggle>
          </ion-input>
        </ion-item>

        <!-- Shots Field -->
        <ion-item>
          <ion-label position="floating">Confirm Password</ion-label>
          <ion-input
            formControlName="confPass"
            type="password"
            required>
            <ion-input-password-toggle slot="end"></ion-input-password-toggle>
          </ion-input>
        </ion-item>

      </ion-card-content>
    </ion-card>

    <!-- Modal Actions -->
    <ion-row class="modal-actions">
      <ion-col size="12">
        <ion-button
          expand="block"
          color="primary"
          type="submit"
          [disabled]="isLoading || updatePassForm.invalid">
          <ion-spinner *ngIf="isLoading" slot="start" name="crescent"></ion-spinner>
          {{ isLoading ? 'Updating...' : 'Update Password' }}
        </ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
